{% extends 'template.html' %}
{% block conteudo %}
<div class="container-box">
    <div class="content-box">
        <table>
            <tbody>
                <tr>
                    <th>Usuário</th>
                    <th>Comentário</th>
                </tr>
            {% for objeto in objetos %}
                <tr>
                    <td class="usuario">{{ objeto.coduser }}:</td>
                    <td class="comentario">{{ objeto.comentario }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            <form action="{{ url_for('comentario') }}">
                <button class="btn-salve" type=submit>Comentar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}